<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <servlet>
        <servlet-name>CharacterServlet</servlet-name>
        <servlet-class>CharacterController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CharacterServlet</servlet-name>
        <url-pattern>/char</url-pattern>
    </servlet-mapping> 

    <servlet>
        <servlet-name>MovieServlet</servlet-name>
        <servlet-class>MovieController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MovieServlet</servlet-name>
        <url-pattern>/movie</url-pattern>
    </servlet-mapping> 
</web-app>



